<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title><%= title %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
   </head>

   <body>
       <p><a href="/">Ana sayfaya dönmek için tıklayınız.</a></p>
       <p><b>Unix Raw API'yi kullanmak için <a href="https://npmjs.com/package/cheerio">Cheerio</a> Node.JS modülünü öneririz.</b></p>
       <br>
       <p><span class="sunucu-sayisi-text">Sunucu Sayısı:</span>&nbsp;<span class="sunucu-sayisi"><%= discordClient.guilds.cache.size %></span></p>
       <br>
       <p><span class="kullanici-sayisi-text">Kullanıcı Sayısı:</span>&nbsp;<span class="kullanici-sayisi"><%= discordClient.users.cache.size %></span></p>
       <br>
       <p><span class="kanal-sayisi-text">Kanal Sayısı:</span>&nbsp;<span class="kanal-sayisi"><%= discordClient.channels.cache.size %></span></p>
       <br>
       <p><span class="komut-sayisi-text">Komut Sayısı:</span>&nbsp;<span class="komut-sayisi"><%= discordClient.commands.size %></span></p>
       <br>
       <p><span class="node-versiyon-text">Node.JS Sürümü:</span>&nbsp;<span class="node-versiyon"><%= pckgJSON.engines.node %></span></p>
       <br>
       <p><span class="bot-versiyon-text">Bot Versiyonu:</span>&nbsp;<span class="bot-versiyon"><%= pckgJSON.version %></span></p>
       <br>
       <p><span class="lisans-text">Lisans:</span>&nbsp;<span class="bot-versiyon"><%= pckgJSON.license %></span></p>
    </body>
 </html>
