<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title><%= title %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

		<!-- CSS here -->
            <link rel="stylesheet" href="assets/css/bootstrap.min.css">
            <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
            <link rel="stylesheet" href="assets/css/flaticon.css">
            <link rel="stylesheet" href="assets/css/slicknav.css">
            <link rel="stylesheet" href="assets/css/animate.min.css">
            <link rel="stylesheet" href="assets/css/magnific-popup.css">
            <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
            <link rel="stylesheet" href="assets/css/themify-icons.css">
            <link rel="stylesheet" href="assets/css/slick.css">
            <link rel="stylesheet" href="assets/css/nice-select.css">
            <link rel="stylesheet" href="assets/css/style.css">
   </head>

   <body>
       
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="assets/img/logo/logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->

    <header>
        <!-- Header Start -->
       <div class="header-area header-transparrent ">
            <div class="main-header header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2 col-md-1">
                            <div class="logo">
                                <a href="/"><img src="assets/img/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8 col-md-8">
                            <!-- Main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav> 
                                    <ul id="navigation">    
                                        <li><a href="/">Ana Sayfa</a></li>
                                        <li><a href="/komutlar">Komutlar</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>             
                        <div class="col-xl-2 col-lg-2 col-md-3">
                            <div class="header-right-btn f-right d-none d-lg-block">
                                <a href="#" class="btn header-btn" onclick="window.open('https://discord.com/api/oauth2/authorize?client_id=738013758345183323&permissions=8&scope=bot')">Botu Davet Et</a>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
        <!-- Header End -->
    </header>

    <main>

        <!-- Slider Area Start-->
        <div class="slider-area ">
            <div class="slider-active">
                <div class="single-slider slider-height d-flex align-items-center" data-background="assets/img/hero/h1_hero.png">
                    <div class="container">
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-7 col-md-9 ">
                                <div class="hero__caption">
                                    <h1 data-animation="fadeInLeft" data-delay=".4s">Unix.<br> Gelişmiş Zekaya Sahip Türkçe Discord Botu.</h1>
                                    <p data-animation="fadeInLeft" data-delay=".6s">Hizmetinizde!</p>
                                    <!-- Hero-btn -->
                                    <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s">
                                        <a href="https://discord.com/api/oauth2/authorize?client_id=738013758345183323&permissions=8&scope=bot" class="btn hero-btn" target="_blank">Botu Davet Et.</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="hero__img d-none d-lg-block" data-animation="fadeInRight" data-delay="1s">
                                    <img src="assets/img/hero/hero_right.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slider Area End-->
        <!-- What We do start-->
        <div class="what-we-do we-padding">
            <div class="container">
                <!-- Section-tittle -->
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <div class="section-tittle text-center">
                            <h2>Botumuz Size Ne Katabilir.​</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-do text-center mb-30">
                            <div class="do-icon">
                                <span  class="flaticon-tasks"></span>
                            </div>
                            <div class="do-caption">
                                <h4>Temiz ve Hızlı Veritabanı</h4>
                                <p>Hızlı ve sağlıklı bir veritabanı ile botumuz daima hizmetinizde.</p>
                            </div>
                        </div>
                    </div>
                     <div class="col-lg-4 col-md-6">
                        <div class="single-do active text-center mb-30">
                            <div class="do-icon">
                                <span  class="flaticon-social-media-marketing"></span>
                            </div>
                            <div class="do-caption">
                                <h4>Entegrasyonlar</h4>
                                <p>Botumuz ile işlettiğiniz veya oynadığınız oyun sunucularını bağlayıp gerçek zamanlı takip edebilirsiniz.</p>
                            </div>
                        </div>
                    </div>
                     <div class="col-lg-4 col-md-6">
                        <div class="single-do text-center mb-30">
                            <div class="do-icon">
                                <span  class="flaticon-project"></span>
                            </div>
                            <div class="do-caption">
                                <h4>Yüksek Performans</h4>
                                <p>Botumuz size yüksek performanslı ve kaliteli bir deneyim sunar. Hem botumuzu kaliteyi hissederek kullanabilir, hem de müzik özelliğimiz sayesinde takılmadan müzik dinleyebilirsiniz!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- What We do End-->
        <!-- We Create Start -->
        <div class="we-create-area create-padding">
            <div class="container">
                <div class="row d-flex align-items-end">
                    <div class="col-lg-6 col-md-12">
                        <div class="we-create-img">
                            <img src="assets/img//service/we-create.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="we-create-cap">
                            <h3>Topluluğunuz ile Bağlantınızı Arttırın</h3>
                            <p>Botumuzun özellikleri ile topluluğunuza daha rahat ve anlaşılır bir şekilde ulaşın.</p>
                            <a href="https://discord.com/api/oauth2/authorize?client_id=738013758345183323&permissions=8&scope=bot" class="btn" target="_blank">Botu Davet Et</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- We Create End -->
        <!-- Generating Start -->
        <div class="generating-area ">
            <div class="container">
                 <!-- Section-tittle -->
                 <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <div class="section-tittle text-center">
                            <h2>Botumuzun Bazı Özellikleri.</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="single-generating d-flex mb-30">
                            <div class="generating-icon">
                                <span class="flaticon-chart"></span>
                            </div>
                            <div class="generating-cap">
                                <h4>Botumuzun Sunucunuza Faydası.</h4>
                                <p>Botumuz "hoşgeldin, gülegüle" gibi komutlar ile sunucu topluluğunuzun aktif kalmasını sağlar. Ve sunucu sahibinin bu gibi isteklerini hızlıca gerçekleştirir.
                                     
                                       </p>
                            </div>
                        </div>
                    </div> 
                    <div class="col-lg-6 col-md-6">
                        <div class="single-generating d-flex mb-30">
                            <div class="generating-icon">
                                <span class="flaticon-social-media-marketing"></span>
                            </div>
                            <div class="generating-cap">
                                <h4>Entegrasyonlar.</h4>
                                <p>Oynadığınız veya sahibi olduğunuz oyun sunucularını botumuz sayesinde stabil ve gerçek zamanlı olarak takip edebilirsiniz.
                                     </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-generating d-flex mb-30">
                            <div class="generating-icon">
                                <span class="flaticon-speaker"></span>
                            </div>
                            <div class="generating-cap">
                                <h4>Sunucunuz İle Etkileşim.</h4>
                                <p>Botumuzun kendi yaptığımız kütüphane ile yazılmış olan müzik komutları hem stabil çalışırken hem de kullanıcıya 
                                 kolaylık sağlar. Botumuzun ayrıca sahip olduğu "caps engelliyici, duyuru" gibi özellikleride sunucu sahibi ve moderatörler için vazgeçilmezdir.  </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-generating d-flex mb-30">
                            <div class="generating-icon">
                                <span class="flaticon-growth"></span>
                            </div>
                            <div class="generating-cap">
                                <h4>Yenilikler</h4>
                                <p>Hızlı ve stabil çalışan bir hoşgeldin/gülegüle sistemimiz. Kolay kullanımlı ve işlevli "!anons" komutumuz ve kendi kütüphanemiz sayesinde yazdığımız müzik sistemimiz ile diğer botlara fark atıyoruz. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Generating End -->
        <!--Choose Best start-->
        <div class="choose-best choose-padding">
            <div class="container">
                <!-- Section-tittle -->
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-7">
                        <div class="section-tittle text-center">
                            <h2>İstatistiklerimiz</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-choose text-center mb-30">
                            <div class="do-icon">
                                <span  class="flaticon-growth"></span>
                            </div>
                            <div class="do-caption">
                                <h4>Yükselişinizi Sağlayacak Özelliklerimiz</h4>
                                <ul>
                                    <li><%= discordClient.commands.size %> Birbirinden Kaliteli Komut</li>
                                    <li>Oyun Entegrasyonları</li>
                                    <li>Sunucu Yönetimi</li>
                                    <li>Eğlence</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                     <div class="col-lg-4 col-md-6">
                        <div class="single-choose active text-center mb-30">
                            <div class="do-icon">
                                <span class="flaticon-award"></span>
                            </div>
                            <div class="do-caption">
                                <h4><%= discordClient.guilds.cache.size %> Sunucu</h4>
                                <ul>
                                    <li><%= discordClient.users.cache.size %> Kullanıcı</li>
                                    <li><%= discordClient.channels.cache.size %> Kanal</li>
                                    <li>Versiyon <%= pckgJSON.version %></li>
                                    <li><%= pckgJSON.license %> Lisansı</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                     <div class="col-lg-4 col-md-6">
                        <div class="single-choose text-center mb-30">
                            <div class="do-icon">
                                <span  class="flaticon-project"></span>
                            </div>
                            <div class="do-caption">
                                <h4>Yüksek Performans</h4>
                                <ul>
                                    <li>Node.JS <%= pckgJSON.engines.node %> Motoru</li>
                                    <li>Quick.DB Optimizasyonlu Veritabanı</li>
                                    <li>NPM 6.0.0 Paket Yöneticisi</li>
                                    <li>7.9 V8 JavaScript Motoru</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Choose Best do End-->
        <!-- Visit Stuffs Start -->
        <!-- Visit Stuffs Start -->
         <!-- Testimonial Start -->
         <div class="testimonial-area">
            <div class="container">
               <div class="testimonial-main">
                    <!-- Section-tittle -->
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-5  col-md-8 pr-0">
                            <div class="section-tittle text-center">
                                <h2>Yorumlama</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                            <div class="col-lg-10 col-md-9">
                                <div class="h1-testimonial-active">
                                    <!-- Single Testimonial -->
                                    <div class="single-testimonial text-center">
                                        <div class="testimonial-caption ">
                                            <div class="testimonial-top-cap">
                                                <p>Unix, ilk planladığımın çok ilerisinde. Sanki her gün gelişiyor da ben onu takip edemiyorum...</p>
                                            </div>
                                            <!-- founder -->
                                            <div class="testimonial-founder d-flex align-items-center justify-content-center">
                                                <div class="founder-img">
                                                    <img src="assets/img/logo/logo.png" alt="">
                                                </div>
                                            <div class="founder-text">
                                                <span>Egemen "Valor" S.</span>
                                                <p>Programcı</p>
                                            </div>
                                            </div>
                                        </div>
                                    </div><!-- Single Testimonial -->
                                    <div class="single-testimonial text-center">
                                        <div class="testimonial-caption ">
                                            <div class="testimonial-top-cap">
                                                <p><b style="color: #f39c12;">Dennis Ritchie</b>'nin de dediği gibi <b style="color: #f39c12;">"Unix is simple"</b>...</p>
                                            </div>
                                            <!-- founder -->
                                            <div class="testimonial-founder d-flex align-items-center justify-content-center">
                                                <div class="founder-img">
                                                    <img src="assets/img/logo/logo.png" alt="">
                                                </div>
                                            <div class="founder-text">
                                                <span>Emir "Night" C.</span>
                                                <p>Arayüz Tasarımcısı</p>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
               </div>
            </div>
        </div>
        <!-- Testimonial End -->
        <!-- Tips Triks Start -->
        <div class="tips-triks-area tips-padding">
            <div class="container">
                 <!-- Section-tittle -->
                 <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 col-md-8 pr-0">
                        <div class="section-tittle text-center">
                            <h2>" Unix is simple. "</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Tips Triks End -->
         <!-- have-project Start-->
         <div class="have-project">
            <div class="container">
                <div class="haveAproject"  data-background="assets/img/team/have.jpg">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-7 col-lg-9 col-md-12">
                            <div class="wantToWork-caption">
                                <h2>Aklınıza takılan bir soru işareti mi var? Bize sorun!</h2>
                                <p>Discord canlı destek sunucumuz. </p>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-3 col-md-12">
                           <div class="wantToWork-btn f-right">
                                <a href="https://discord.gg/JKf6dhJ" class="btn btn-ans" target="_blank">Sunucuya Katıl</a>
                           </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <!-- have-project End -->

    </main>
   <footer>

       <!-- Footer Start-->
      <div class="footer-main" data-background="assets/img/shape/footer_bg.png">
        <div class="footer-area footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-lg-2 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Destek</h4>
                                <ul>
                                    <li><a href="https://discord.gg/JKf6dhJ">Discord Canlı Destek https://discord.gg/JKf6dhJ</a></li>
                                    <li><a href="/">Ana Sayfa</a></li>
                                    <li><a href="/komutlar">Komutlar</a></li>
				    <li><a href="/api">Geliştiriciler için API</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom aera -->
        <div class="footer-bottom-area footer-bg">
            <div class="container">
                <div class="footer-border">
                     <div class="row d-flex align-items-center">
                         <div class="col-xl-12 ">
                             <div class="footer-copy-right text-center">
                                 <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy; <script>document.write(new Date().getFullYear());</script> Tüm hakları saklıdır. | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                             </div>
                         </div>
                     </div>
                </div>
            </div>
        </div>
      </div>
       <!-- Footer End-->

   </footer>
   
	<!-- JS here -->
	
		<!-- All JS Custom Plugins Link Here here -->
        <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="./assets/js/popper.min.js"></script>
        <script src="./assets/js/bootstrap.min.js"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="./assets/js/jquery.slicknav.min.js"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="./assets/js/owl.carousel.min.js"></script>
        <script src="./assets/js/slick.min.js"></script>
        <!-- Date Picker -->
        <script src="./assets/js/gijgo.min.js"></script>
		<!-- One Page, Animated-HeadLin -->
        <script src="./assets/js/wow.min.js"></script>
		<script src="./assets/js/animated.headline.js"></script>
        <script src="./assets/js/jquery.magnific-popup.js"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script src="./assets/js/jquery.scrollUp.min.js"></script>
        <script src="./assets/js/jquery.nice-select.min.js"></script>
		<script src="./assets/js/jquery.sticky.js"></script>
        
        <!-- contact js -->
        <script src="./assets/js/contact.js"></script>
        <script src="./assets/js/jquery.form.js"></script>
        <script src="./assets/js/jquery.validate.min.js"></script>
        <script src="./assets/js/mail-script.js"></script>
        <script src="./assets/js/jquery.ajaxchimp.min.js"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="./assets/js/plugins.js"></script>
        <script src="./assets/js/main.js"></script>
        
    </body>
</html>
